body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0f7fa;
  color: black;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-section {
  flex: 1;
  background-color: #c1deda;
  color: rgb(14, 13, 13);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person-image, .people-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-content {
  margin-top: 20px;
  text-align: center;
}

.right-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo img {
  max-width: 150px;
  margin-bottom: 20px;
}

.progress {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  width: 30px;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.step.active {
  background-color: #004d40;
  color: white;
}

.step-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #757575;
}

.step-labels span {
  flex: 1;
  text-align: center;
}

h3 {
  margin-bottom: 20px;
  color: #004d40;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #757575;
}

input, select {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.terms {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.terms input {
  margin-right: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #004d40;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #00332c;
}
